/* blue button */
.bluebutton {
    color: white;
    border: 5px solid transparent;
    border-image: url('buttons/bluebutton/blue_button.png') 5 5 fill;
    background-color: transparent;
    padding: 0;
    outline: none;
}

.bluebutton:hover {
    border-image: url('buttons/bluebutton/blue_button_hover.png') 5 5 fill;
}

.bluebutton:focus {
    border-image: url('buttons/bluebutton/blue_button_focused.png') 5 5 fill;
}

.bluebutton:focus:hover {
    border-image: url('buttons/bluebutton/blue_button_focused_hover.png') 5 5 fill;
}

.bluebutton:active {
    border-image: url('buttons/bluebutton/blue_button_pressed.png') 5 5 fill;
}

.bluebutton:active:focus {
    border-image: url('buttons/bluebutton/blue_button_focused_pressed.png') 5 5 fill;
}

.bluebutton:disabled {
    border-image: url('buttons/bluebutton/blue_button_inactive.png') 5 5 fill;
}

/* generic button */

.genericbutton {
    color: black;
    border: 5px solid transparent;
    border-image: url('buttons/button/button.png') 5 5 fill;
    background-color: transparent;
    padding: 0;
    outline: none;
}

.genericbutton:hover {
    border-image: url('buttons/button/button_hover.png') 5 5 fill;
}

.genericbutton:focus {
    border-image: url('buttons/button/button_focused.png') 5 5 fill;
}

.genericbutton:focus:hover {
    border-image: url('buttons/button/button_focused_hover.png') 5 5 fill;
}

.genericbutton:active {
    border-image: url('buttons/button/button_pressed.png') 5 5 fill;
}

.genericbutton:active:focus {
    border-image: url('buttons/button/button_focused_pressed.png') 5 5 fill;
}

.genericbutton:disabled {
    border-image: url('buttons/button/button_inactive.png') 5 5 fill;
}

/* checkboxes */

.chromecheckbox {
    appearance: none;
    border: none;
    background-image: url("checkbox/checkbox.png");
}

.chromecheckbox:hover {
    background-image: url("checkbox/checkbox_hover.png");
}

.chromecheckbox:active {
    background-image: url("checkbox/checkbox_pressed.png");
}

.chromecheckbox:focus {
    background-image: url("checkbox/checkbox_hover.png");
}

.chromecheckbox:disabled {
    background-image: url("checkbox/checkbox_inactive.png");
}

.chromecheckbox:hover:checked {
    background-image: url("checkbox/checkbox_checked_hover.png");
}

.chromecheckbox:active:checked {
    background-image: url("checkbox/checkbox_checked_pressed.png");
}

.chromecheckbox:focus:checked {
    background-image: url("checkbox/checkbox_focused_checked.png");
}

.chromecheckbox:disabled:checked {
    background-image: url("checkbox/checkbox_checked_inactive.png");
}

.chromecheckbox:focus:checked:hover {
    background-image: url("checkbox/checkbox_focused_checked_hover.png");
}

.chromecheckbox:focus:checked:active {
    background-image: url("checkbox/checkbox_focused_checked_pressed.png");
}

.chromecheckbox:focus:hover {
    background-image: url("checkbox/checkbox_focused_hover.png");
}

.chromecheckbox:focus:active {
    background-image: url("checkbox/checkbox_focused_pressed.png");
}

/* IMAGE PRELOAD */

#imagepreload-bluebutton {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    background-image: 
        url('buttons/bluebutton/blue_button.png'),
        url('buttons/bluebutton/blue_button_hover.png'),
        url('buttons/bluebutton/blue_button_focused.png'),
        url('buttons/bluebutton/blue_button_focused_hover.png'),
        url('buttons/bluebutton/blue_button_pressed.png'),
        url('buttons/bluebutton/blue_button_focused_pressed.png'),
        url('buttons/bluebutton/blue_button_inactive.png');
}
#imagepreload-genericbutton {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    background-image: 
        url('buttons/button/button.png'),
        url('buttons/button/button_hover.png'),
        url('buttons/button/button_focused.png'),
        url('buttons/button/button_focused_hover.png'),
        url('buttons/button/button_pressed.png'),
        url('buttons/button/button_focused_pressed.png'),
        url('buttons/button/button_inactive.png');
}

#imagepreload-bluebutton {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    background-image: 
        url("checkbox/checkbox.png"),
        url("checkbox/checkbox_checked.png")
        url("checkbox/checkbox_checked_hover.png"),
        url("checkbox/checkbox_checked_inactive.png"),
        url("checkbox/checkbox_checked_pressed.png"),
        url("checkbox/checkbox_focused.png"),
        url("checkbox/checkbox_focused_checked.png"),
        url("checkbox/checkbox_focused_checked_hover.png"),
        url("checkbox/checkbox_focused_checked_pressed.png"),
        url("checkbox/checkbox_focused_hover.png"),
        url("checkbox/checkbox_focused_pressed.png"),
        url("checkbox/checkbox_hover.png"),
        url("checkbox/checkbox_inactive.png"),
        url("checkbox/checkbox_pressed.png"),
}