/* blue button */
.bluebutton {
    color: white;
    border: 5px solid transparent;
    border-image: url('buttons/bluebutton/blue_button.png') 5 5 fill;
    background-color: transparent;
    padding: 0;
    outline: none;
}

.bluebutton:hover {
    border-image: url('buttons/bluebutton/blue_button_hover.png') 5 5 fill;
}

.bluebutton:focus {
    border-image: url('buttons/bluebutton/blue_button_focused.png') 5 5 fill;
}

.bluebutton:focus:hover {
    border-image: url('buttons/bluebutton/blue_button_focused_hover.png') 5 5 fill;
}

.bluebutton:active {
    border-image: url('buttons/bluebutton/blue_button_pressed.png') 5 5 fill;
}

.bluebutton:active:focus {
    border-image: url('buttons/bluebutton/blue_button_focused_pressed.png') 5 5 fill;
}

.bluebutton:disabled {
    border-image: url('buttons/bluebutton/blue_button_inactive.png') 5 5 fill;
}

/* generic button */

.genericbutton {
    color: black;
    border: 5px solid transparent;
    border-image: url('buttons/button/button.png') 5 5 fill;
    background-color: transparent;
    padding: 0;
    outline: none;
}

.genericbutton:hover {
    border-image: url('buttons/button/button_hover.png') 5 5 fill;
}

.genericbutton:focus {
    border-image: url('buttons/button/button_focused.png') 5 5 fill;
}

.genericbutton:focus:hover {
    border-image: url('buttons/button/button_focused_hover.png') 5 5 fill;
}

.genericbutton:active {
    border-image: url('buttons/button/button_pressed.png') 5 5 fill;
}

.genericbutton:active:focus {
    border-image: url('buttons/button/button_focused_pressed.png') 5 5 fill;
}

.genericbutton:disabled {
    border-image: url('buttons/button/button_inactive.png') 5 5 fill;
}

/* checkboxes */

.chromecheckbox {
    appearance: none;
    border: none;
    width: 16; /* Set a fixed size for the checkbox */
    height: 18px;
    background-image: url("checkbox/checkbox.png");
    background-size: cover;
    cursor: pointer;
}

.chromecheckbox:hover {
    background-image: url("checkbox/checkbox_hover.png");
}

.chromecheckbox:active {
    background-image: url("checkbox/checkbox_pressed.png");
}

.chromecheckbox:focus {
    background-image: url("checkbox/checkbox_focused.png");
}

.chromecheckbox:checked {
    background-image: url("checkbox/checkbox_checked.png");
}

.chromecheckbox:disabled {
    background-image: url("checkbox/checkbox_inactive.png");
}

.chromecheckbox:hover:checked {
    background-image: url("checkbox/checkbox_checked_hover.png");
}

.chromecheckbox:active:checked {
    background-image: url("checkbox/checkbox_checked_pressed.png");
}

.chromecheckbox:focus:checked {
    background-image: url("checkbox/checkbox_focused_checked.png");
}

.chromecheckbox:disabled:checked {
    background-image: url("checkbox/checkbox_checked_inactive.png");
}

.chromecheckbox:focus:checked:hover {
    background-image: url("checkbox/checkbox_focused_checked_hover.png");
}

.chromecheckbox:focus:checked:active {
    background-image: url("checkbox/checkbox_focused_checked_pressed.png");
}

.chromecheckbox:focus:hover {
    background-image: url("checkbox/checkbox_focused_hover.png");
}

.chromecheckbox:focus:active {
    background-image: url("checkbox/checkbox_focused_pressed.png");
}

/* radio */

.chromeradio {
    appearance: none;
    border: none;
    width: 16; /* Set a fixed size for the checkbox */
    height: 18px;
    background-image: url("radio/radio.png");
    background-size: cover;
    cursor: pointer;
}

.chromeradio:hover {
    background-image: url("radio/radio_hover.png");
}

.chromeradio:active {
    background-image: url("radio/radio_pressed.png");
}

.chromeradio:focus {
    background-image: url("radio/radio_focused.png");
}

.chromeradio:checked {
    background-image: url("radio/radio_checked.png");
}

.chromeradio:disabled {
    background-image: url("radio/radio_inactive.png");
}

.chromeradio:hover:checked {
    background-image: url("radio/radio_checked_hover.png");
}

.chromeradio:active:checked {
    background-image: url("radio/radio_checked_pressed.png");
}

.chromeradio:focus:checked {
    background-image: url("radio/radio_focused_checked.png");
}

.chromeradio:disabled:checked {
    background-image: url("radio/radio_checked_inactive.png");
}

.chromeradio:focus:checked:hover {
    background-image: url("radio/radio_focused_checked_hover.png");
}

.chromeradio:focus:checked:active {
    background-image: url("radio/radio_focused_checked_pressed.png");
}

.chromeradio:focus:hover {
    background-image: url("radio/radio_focused_hover.png");
}

.chromeradio:focus:active {
    background-image: url("radio/radio_focused_pressed.png");
}


/* titlebar */

#chrome-titlebar {
    position: fixed;
    background-color: #808281;
    height: 36px;
    width: 100vw;
    z-index: 9999;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("titlebar/repeat.png");
    background-repeat: repeat; /* Ensures the image repeats infinitely */
    background-size: auto; /* Keeps the original size of the image */
    -webkit-app-region: drag; /* Allow dragging the window */
}

#titlebar-buttons {
    display: flex;
    margin-right: 0px; /* Add some padding from the right edge */
    -webkit-app-region: no-drag; /* Prevents buttons from being draggable */
    user-select: none;
}

#titlebarbutton {
    width: 36px; /* Adjust button size if needed */
    height: 36px;
    cursor: pointer;
}

#titlebarbutton:hover {
    /* Combine all filter effects in one property */
    filter: sepia(1) saturate(5) hue-rotate(90deg) brightness(0.7);
}

/* Add a background image for the minimize button */
#minimize {
    background-image: url('titlebar/minimize.png');
    border: none;
    width: 36px;
    height: 36px;
}

#minimize:hover {
    background-image: url('titlebar/minimize-hover.png');
}

#maximize {
    background-image: url('titlebar/maximize.png');
    border: none;
    width: 36px;
    height: 36px;
}

#maximize:hover {
    background-image: url('titlebar/maximize-hover.png');
}

#close {
    background-image: url('titlebar/close.png');
    border: none;
    width: 36px;
    height: 36px;
}

#close:hover {
    background-image: url('titlebar/close-hover.png');
}

/* titlebar */

/* IMAGE PRELOAD */

#imagepreload-bluebutton {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    background-image: 
        url('buttons/bluebutton/blue_button.png'),
        url('buttons/bluebutton/blue_button_hover.png'),
        url('buttons/bluebutton/blue_button_focused.png'),
        url('buttons/bluebutton/blue_button_focused_hover.png'),
        url('buttons/bluebutton/blue_button_pressed.png'),
        url('buttons/bluebutton/blue_button_focused_pressed.png'),
        url('buttons/bluebutton/blue_button_inactive.png');
}
#imagepreload-genericbutton {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    background-image: 
        url('buttons/button/button.png'),
        url('buttons/button/button_hover.png'),
        url('buttons/button/button_focused.png'),
        url('buttons/button/button_focused_hover.png'),
        url('buttons/button/button_pressed.png'),
        url('buttons/button/button_focused_pressed.png'),
        url('buttons/button/button_inactive.png');
}

#imagepreload-checkbox {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    background-image: 
        url("checkbox/checkbox.png"),
        url("checkbox/checkbox_checked.png"),
        url("checkbox/checkbox_checked_hover.png"),
        url("checkbox/checkbox_checked_inactive.png"),
        url("checkbox/checkbox_checked_pressed.png"),
        url("checkbox/checkbox_focused.png"),
        url("checkbox/checkbox_focused_checked.png"),
        url("checkbox/checkbox_focused_checked_hover.png"),
        url("checkbox/checkbox_focused_checked_pressed.png"),
        url("checkbox/checkbox_focused_hover.png"),
        url("checkbox/checkbox_focused_pressed.png"),
        url("checkbox/checkbox_hover.png"),
        url("checkbox/checkbox_inactive.png"),
        url("checkbox/checkbox_pressed.png");
}

#imagepreload-radio {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    background-image: 
        url("radio/radio.png"),
        url("radio/radio_checked.png"),
        url("radio/radio_checked_hover.png"),
        url("radio/radio_checked_inactive.png"),
        url("radio/radio_checked_pressed.png"),
        url("radio/radio_focused.png"),
        url("radio/radio_focused_checked.png"),
        url("radio/radio_focused_checked_hover.png"),
        url("radio/radio_focused_checked_pressed.png"),
        url("radio/radio_focused_hover.png"),
        url("radio/radio_focused_pressed.png"),
        url("radio/radio_hover.png"),
        url("radio/radio_inactive.png"),
        url("radio/radio_pressed.png");
}