body {
    margin: 0;
    padding: 0;
}

#applauncherbody {
    user-select: none;
    margin: 0;
    padding: 0;
    width: 402px;
    height: 502px;
    background-color: #f2f2f2;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

.dark #applauncherbody {
    background-color: #333333;
    color: #333333;
}

#searchbar {
    font-weight: bold;
    border-bottom: 1px solid #c0c0c0;
    width: 402px;
    height: 50px;
    background-color: #ffffff;
}

.dark #searchbar {
    background-color: #444444;
    border-bottom: 1px solid #555555;
}

#searchbarfield {
    color: black;
}

#searchbarurl {
    position: absolute;
    background: none;
    border: none;
    color: #393939;
    left: 59px;
    top: 15px;
    width: 270px;
    outline: none;
}

#searchbarurl::placeholder {
    color: #b6b6b6;
}

.dark #searchbarurl {
    color: #f2f2f2;
}

#searchicon {
    position: absolute;
    left: 19px;
    top: 17px;
}

#hamburgermenu {
    position: absolute;
    left: 363px;
    top: 17px;
    background-image: url("images/hamburger.png");
    width: 15px;
    height: 15px;
}

#hamburgermenu:hover {
    background-image: url("images/hamburgerhover.png");
}

#apps-content {
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    gap: 0px;
    flex-wrap: wrap
}

.dark #apps-content {
    background-color: #333333;
}

#searchpage {
    display: none;
    flex-direction: column;
}

.searchsugesstion {
    display: flex;
    align-items: center;
    width: 402px;
    height: 57px;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    cursor: pointer;
    background-color: #f2f2f2;
}

.dark .searchsugesstion {
    background-color: #333333;
    color: #b7b7b7;
}

.searchsugesstion:hover {
    background-color: #e4e4e4;
}

.dark .searchsugesstion:hover {
    background-color: #505050;
}

.suggestion-text {
    margin-left: 34px;
    font-size: 12px;
    flex: 1;
    background-color: transparent;
}

.suggestionurl-text {
    margin-left: 34px;
    font-size: 12px;
    flex: 1;
    color: green;
    background-color: transparent;
}

.search-icon {
    width: 13px;
    height: 13px;
    margin-left: 20px;
    background: url('images/search.png') center no-repeat;
    background-size: contain;
}

.page-icon {
    width: 16px;
    height: 16px;
    margin-left: 20px;
    background: url('images/searchurl.png') center no-repeat;
    background-size: contain;
}

.subtext {
    margin-left: 34px;
    font-size: 12px;
    color: #777; /* Lighter font color for subtext */
}

#app {
    width: 88px;
    height: 97px;
    background-color: #f2f2f2;
    position: relative;
}

.dark #app {
    background-color: #333333;
}

#app:hover {
    background-color: #eaeaea;
}

.dark #app:hover {
    background-color: #3D3D3D;
}

#appicon {
    object-fit: fill;
    position: relative;
    width: 48px;
    height: 48px;
    margin-top: 18px;
    margin-left: 20px;
    filter: drop-shadow(0px 0.95px 3px rgba(0, 0, 0, 0.25)); /* Subtle shadow under the icon */
}

#apptext {
    font-weight: lighter;
    white-space: nowrap;
    position: absolute;
    margin-top: 2px;
    font-size: 11px;
    left: 50%;             /* Move the left edge to the center */
    transform: translateX(-50%); /* Adjust to center the element */
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.099);
    color: #333333;
}

.dark #apptext {
    color: #f2f2f2;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.099);;
}

a {
    text-decoration: none;
    color: black;
    cursor: default;
}

#linkicon {
    position: relative;
    margin-left: 21px;
    bottom: 20px;
}