body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    user-select: none;
    box-sizing: border-box;
}

img {
    user-select: none;    /* Prevent selection */
}

#applauncherbody {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
    width: 400px;
    height: 500px;
    background-color: #f2f2f2;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

.dark #applauncherbody {
    background-color: #333333;
    color: #333333;
}

#searchbar {
    font-weight: bold;
    border-bottom: 1px solid #c0c0c0;
    width: 402px;
    height: 50px;
    background-color: #ffffff;
}

#pageindicatorbar {
    position: absolute;
    bottom: 28px;
    width: 100%;
    text-align: center;
}

.pageindicator {
    background-color: #468FFC;
    width: 68px;
    height: 6px;
    border-radius: 2px;
    display: inline-block;
    margin: 0 9px;
}

.pageindicator.disabled:hover {
    background-color: #b4b4b4;
}

.pageindicator.disabled:active:hover {
    background-color: #e2e2e2;
}

.pageindicator.disabled {
    background-color: #e2e2e2;
}

.dark #searchbar {
    background-color: #444444;
    border-bottom: 1px solid #555555;
}

#appinfo {
    background-color: #f2f2f2;
    width: 400px;
    height: 500px;
}

#appinfoicon {
    width: 64px;
    height: 64px;
    position: absolute;
    top: 9px;
    left: 13px;
}

#appinfoheader {
    position: absolute;
    height: 82px;
    width: 100%;
    border-bottom: 1px solid #c0c0c0;
}

#appinfotext {
    position: absolute;
    margin-top: 37px;
    margin-bottom: 34px;
    margin-left: 86px;
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
}

.dark #appinfotext {
    color: #ffffff;
}

#appinfooverview {
    position: absolute;
    margin-top: 102px;
    left: 20px;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

.dark #appinfooverview {
    color: #ffffff;
}

#appinfooverviewbody {
    position: absolute;
    margin-top: 130px;
    left: 20px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

.dark #appinfooverviewbody {
    color: #ffffff;
}

#appinfofooter {
    bottom: 0px;
    position: absolute;
    height: 50px;
    width: 100%;
    border-top: 1px solid #c0c0c0;
}

.dark #appinfo {
    background-color: #333333;
}

#searchbarfield {
    color: black;
}

#searchbarurl {
    position: absolute;
    background: none;
    border: none;
    color: #393939;
    left: 59px;
    top: 15px;
    width: 270px;
    outline: none;
}

#searchbarurl::placeholder {
    color: #b6b6b6;
}

.dark #searchbarurl {
    color: #f2f2f2;
}

#searchicon {
    position: absolute;
    left: 19px;
    top: 17px;
}

#hamburgermenu {
    position: absolute;
    left: 363px;
    top: 17px;
    background-image: url("images/hamburger.png");
    width: 15px;
    height: 15px;
}

#hamburgermenu:hover {
    background-image: url("images/hamburgerhover.png");
}

.page {
    margin-left: 24px;
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
}

.dark .page {
    background-color: #333333;
}

#pages {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    flex-direction: row; /* Add this line */
}

#searchpage {
    display: none;
    flex-direction: column;
}

.searchsugesstion {
    display: flex;
    align-items: center;
    width: 402px;
    height: 57px;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    cursor: pointer;
    background-color: #f2f2f2;
}

.dark .searchsugesstion {
    background-color: #333333;
    color: #b7b7b7;
}

.searchsugesstion:hover {
    background-color: #e4e4e4;
}

.dark .searchsugesstion:hover {
    background-color: #505050;
}

.suggestion-text {
    margin-left: 34px;
    font-size: 12px;
    flex: 1;
    background-color: transparent;
}

.suggestionurl-text {
    margin-left: 34px;
    font-size: 12px;
    flex: 1;
    color: green;
    background-color: transparent;
}

.search-icon {
    width: 13px;
    height: 13px;
    margin-left: 20px;
    background: url('images/search.png') center no-repeat;
    background-size: contain;
}

.page-icon {
    width: 16px;
    height: 16px;
    margin-left: 20px;
    background: url('images/searchurl.png') center no-repeat;
    background-size: contain;
}

.subtext {
    margin-left: 34px;
    font-size: 12px;
    color: #777; /* Lighter font color for subtext */
}

#app {
    width: 88px;
    height: 97px;
    background-color: #f2f2f2;
    position: relative;
    transition: opacity 0.2s ease;
}

.dark #app {
    background-color: #333333;
}

#app:hover {
    background-color: #eaeaea;
}

.dark #app:hover {
    background-color: #3D3D3D;
}

#app.dragging {
    opacity: 0.4;
    cursor: move;
}

#app.drag-over {
    border: 2px dashed #666;
    background-color: rgba(0, 0, 0, 0.1);
}

#appicon {
    object-fit: fill;
    position: relative;
    width: 48px;
    height: 48px;
    margin-top: 18px;
    margin-left: 20px;
    filter: drop-shadow(0px 0.95px 3px rgba(0, 0, 0, 0.25)); /* Subtle shadow under the icon */
}

#apptext {
    font-weight: lighter;
    white-space: nowrap;
    position: absolute;
    margin-top: 2px;
    font-size: 11px;
    left: 50%;             /* Move the left edge to the center */
    transform: translateX(-50%); /* Adjust to center the element */
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.099);
    color: #333333;
}

.dark #apptext {
    color: #f2f2f2;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.099);;
}

a {
    text-decoration: none;
    color: black;
    cursor: default;
}

#linkicon {
    position: relative;
    margin-left: 21px;
    bottom: 20px;
}