#applauncherbody {
    user-select: none;
    margin: 0;
    padding: 0;
    width: 402px;
    height: 502px;
    background-color: #f2f2f2;
    overflow: hidden;
}

#searchbar {
    border-bottom: 1px solid #c0c0c0;
    width: 402px;
    height: 50px;
    background-color: #ffffff;
}

#searchbarfield {
    color: black;
}

#searchbarurl {
    position: absolute;
    background: none;
    border: none;
    color: #393939;
    left: 59px;
    top: 15px;
    width: 270px;
    outline: none;
}

#searchbarurl::placeholder {
    color: #b6b6b6;
}

#searchicon {
    position: absolute;
    left: 19px;
    top: 17px;
}

#hamburgermenu {
    position: absolute;
    left: 363px;
    top: 17px;
    background-image: url("images/hamburger.png");
    width: 13px;
    height: 13px;
}

#hamburgermenu:hover {
    background-image: url("images/hamburgerhover.png");
}

#apps-content {
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    gap: 0px;
    flex-wrap: wrap
}

#app {
    width: 88px;
    height: 97px;
    background-color: #f2f2f2;
    position: relative;
}

#app:hover {
    background-color: #eaeaea;
}

#appicon {
    position: relative;
    width: 48px;
    margin-top: 18px;
    margin-left: 20px;
    filter: drop-shadow(0 0px 4px #00000027);
}

#apptext {
    position: absolute;
    margin-top: 2px;
    font-size: 11px;
    font-family: sans-serif;
    left: 50%;             /* Move the left edge to the center */
    transform: translateX(-50%); /* Adjust to center the element */
}